*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

/* text animation */
body{
  
}
.navbar-brand{
    width: 150px;
}
header{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#141441+0,00007d+100 */
   background: rgb(232 232 232); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(20,20,65,1) 0%, rgba(0,0,125,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(20, 20, 65, 1) 0%, rgb(255 255 255) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgba(20, 20, 65, 1) 0%, rgb(255 255 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141441', endColorstr='#00007d',GradientType=0 ); /* IE6-9 */
   /* min-height: 110vh; */
   position: relative;
   z-index: 0;
   margin-bottom: -5px;
   background: #fff;
   /* background: #fff !important; */
}
header::before{
    /* content: ''; */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 61%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#141441+0,000000+100&0+56,1+100 */
    background: -moz-linear-gradient(top,  rgba(20,20,65,0) 0%, rgba(9,9,29,0) 56%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(20, 20, 65, 0) 0%, rgba(9, 9, 29, 0) 56%, rgb(255 255 255) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(20, 20, 65, 0) 9%, rgba(9, 9, 29, 0) 14%, rgb(255 255 255) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00141441', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    z-index: 3;
    /* background: #fff; */
}
header::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000001+0,000001+100&0+0,0+30,1+100 */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,1,0) 0%, rgba(0,0,1,0) 30%, rgba(0,0,1,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 1, 0) 0%, rgba(0, 0, 1, 0) 30%, rgb(255 255 255) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0, 0, 1, 0) 0%, rgba(0, 0, 1, 0) 30%, rgb(255 255 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000001', endColorstr='#000001',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: 2;
}

.blink{

}
.blink img{
    z-index: 99;
}
.header{
    overflow: hidden;
}
.header .blink img:nth-child(1){
    position: absolute;
    top: 29%;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
    animation-delay: .5s;
    left: 10%;
    width: 15px;
}
.header .blink img:nth-child(2){
    position: absolute;
    top: 16%;
    left: 4%;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
    width: 15px;
    animation-delay: 1.8s;
}
.header .blink img:nth-child(3){
    position: absolute;
    top: 10%;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
    left: 28%;
    width: 15px;
    animation-delay: 2.5;
}
.header .blink img:nth-child(4){
    position: absolute;
    right: 68%;
    top: 35%;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
    width: 15px;
    animation-delay: .8s;
}
.header .blink img:nth-child(5){
    position: absolute;
    right: 3%;
    top: 73%;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
    width: 15px;
    animation-delay: 1s;
}
.header .blink img:nth-child(6){
    position: absolute;
    left: 20px;
    top: 73%;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
    width: 15px;
    animation-delay: 1.3;
}
.header .blink img:nth-child(7){
    position: absolute;
    left: 15%;
    top: 61%;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
    width: 15px;
    z-index: 9;
    animation-delay: 1.8s;
}
.header .blink img:nth-child(8){
    position: absolute;
    left: 77%;
    top: 45%;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
    z-index: 9;
    width: 15px;
    animation-delay: .8s;
}
.header .blink img:nth-child(9){
    position: absolute;
    left: 85%;
    top: 13%;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
    z-index: 9;
    animation-delay: 1s;
    width: 15px;
}
.header .blink img:nth-child(10){
    position: absolute;
    left: 60%;
    top: 38%;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
    z-index: 9;
    width: 15px;
    animation-delay: 2s;
}
.header .blink img:nth-child(12){
    position: absolute;
    left: 46%;
    top: 25%;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
    z-index: 9;
    width: 15px;
    animation-delay: 1.5s;
}
.header .blink img:nth-child(11){
    position: absolute;
    left: 90%;
    top: 33%;
    animation: blink 1.3s linear infinite;
    animation-direction: alternate;
    z-index: 9;
    width: 15px;
}


header .blink.footer img:nth-child(8) {
    left: 85%;
    top: 64%;
    z-index: 9;
    width: 15px;
}
header .blink img:nth-child(7) {
    left: 60%;
    top: 22%;
    z-index: 9;
    width: 15px;
}
header .blink img:nth-child(6) {
    left: 50%;
    top: 15%;
    z-index: 9;
    width: 15px;
}
header .blink img:nth-child(5) {
    right: 3%;
    top: 14%;
    z-index: 9;
    width: 15px;
}

@keyframes blink{
    0%{
        transform: scale(0);
    }
    100%{
       transform: scale(1);
    }
}
/* parallax css */
.first_parallax{
    position: relative;
}
.first_parallax::before{
    content: '';
    position: absolute;
    left: 0;
    top: 75%;
    height: 140%;
    width: 100%;
    background-color: #fefeff;
    z-index: -1;
}
.parallax_wrapper {
    height: 90vh;
    position: relative;
    padding-bottom: 0;
    z-index: 2;
}
.parallax_wrapper .parallax_img{
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 85%;
}
.lighting{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 99;
    text-align: center;
}
.height{

}
.lighting img{
    
width: 15%;
}
.startheading h1{
    font-family: "Nunito", sans-serif;
    color: var(--titleColor);
    font-size: 85px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
}
.startheading{
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translateX(-50%);
    animation: heading 1s linear;
    animation-direction: alternate;
    z-index: -1;
    width: 100%;
}
@keyframes heading {
    0%{
        top: 20%;
    }
    100%{
        top: 13%;
    } 
}
.parallax_wrapper .parallax_img:nth-child(1){
    z-index: 8;
    bottom: 50px;
    width: 102%;
}
.parallax_wrapper .parallax_img:nth-child(2){
    z-index: 7;
    bottom: 125px;
}
.parallax_wrapper .parallax_img:nth-child(3){
    z-index: 6;
    bottom: 125px;
}
.parallax_wrapper .parallax_img:nth-child(4){
    z-index: 5;
}
.moon{width: 120px;height: 120px;background: #FFF1D9;border-radius: 50%;position: absolute;top: 170px;left: 70%;box-shadow: 0px 0px 20px 1px #fff;z-index: 99;}
.moon img{
    
}
.parallax_wrapper .parallax_img:nth-child(2)::before{
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
}

